/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace renderers "com.aaronHardy.speedDial.view.renderers.*";
@namespace components "com.aaronHardy.speedDial.view.components.*";
@namespace statusMessage "com.aaronHardy.speedDial.view.components.statusMessage.*";
@namespace saturnboy "com.saturnboy.*";

@font-face {
	src: url("/assets/CALIBRI.TTF");
	fontFamily: Calibri;
}

s|WindowedApplication,
s|Window
{
	/*skinClass: ClassReference("com.aaronHardy.speedDial.view.skin.WindowSkin");*/
	backgroundColor: #181818;
	color: #EEEEEE;
	chromeColor: #4C4C4C;
	symbolColor: #FFFFFF;
	rolloverColor: #666666;
	selectionColor: #999999;
	focusColor: #EEEEEE;
	fontFamily: Calibri;
}

s|TextInput
{
	contentBackgroundColor: #4c4c4c;
	color: #ffffff;
	borderColor: #ffffff;
}

saturnboy|PromptingTextInput
{
	skinClass: ClassReference("com.saturnboy.PromptingTextInputSkin");
}

renderers|ContactRenderer
{
	skinClass: ClassReference("com.aaronHardy.speedDial.view.skin.ContactRendererSkin");
}

components|Expander
{
	skinClass: ClassReference("com.aaronHardy.speedDial.view.skin.ExpanderSkin");
}

statusMessage|StatusMessage
{
	skinClass: ClassReference("com.aaronHardy.speedDial.view.skin.StatusMessageSkin");
}